<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
    <head>
        <meta charset="UTF-8">
        <title>ML API</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        
        <style>
            .footer 
            {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
               background-color: lightgray;
               color: black;
               text-align: center;
            }
        </style>  
    </head>
    
    <body>
        <div class="login">
        	<h1>Student Details</h1>
    	
        	<!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for('GetStudentDetail')}}"method="post">
                <input type="text" name="Student_id" placeholder="Student ID" required="required" />    
                <button type="submit" class="btn btn-primary btn-block btn-large">Get_Details</button>
            </form>
        
            <br>
            <br>
            {{ Result }}        
        </div>    
    
        <div class="footer">
             <p>Author: Neeraj Kumar</p>
        </div>
    </body>

</html>